/* Social login buttons */

/* style inputs and link buttons */
.btn-social {
  width: 95%;
  padding: 12px;
  padding-left:40px !important;
  border: none;
  border-radius: 4px;
  margin: 10px 10px !important;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  text-align: left;
  cursor: pointer;
}

.btn-social:visited, .btn-social:hover, .btn-social:link, .btn-social:active {
  opacity: 1;
  text-decoration: none !important; /* remove underline from anchors */
  color: white !important;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
  font-size: 16px !important;
  text-shadow: none !important;
}

.twitter {
  background-color: #55ACEE;
  color: white;
  font-size: 16px !important;
  text-shadow: none !important;
}

.google {
  background-color: #dd4b39;
  color: white;
  font-size: 16px !important;
  text-shadow: none !important;
}

.phone {
  background-color: #80C06F;
  color: white !important;
  font-size: 16px !important;
  text-shadow: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:after, .btn-primary:visited,.page-item.active .page-link {
  background-color: #80C06F !important;
  border-color: #80CF80 !important;
  color: white;
  font-size: 0.85rem !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:after, .btn-secondary:visited,.page-item.active .page-link {
font-size: 0.85rem !important;
}

.table .thead-dark th {
  color: #fff;
  background-color: #ffa365;
  border-color: #ffa365;
}

.content-wrapper {
  /* background: #ffffff; */
  background: linear-gradient(135deg, #ffa365 0%,#ffffff 20%,#ffffff 80%,#80c06f 100%);
}

.content-wrapper>.content {
  padding: 0 1.5rem;
}

.main-footer {
  background: #80c06f;
  color: #fff; 
}

.pagination>li>a, .pagination>li>span {
  background-color: #FFA365;
  color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #80C06F;
  font-size: 1.25rem !important;
}

.alert-danger, .alert-error {
  margin: 20px !important;
  color: white;
}

.modal-footer {
  text-align: left;
}

.btn-secondary {
  background-color: #DCDCDC;
  border-color: #DCDCDC;
}

.text-secondary {
  color: #808080;
}

.has-error {
  border: 2px solid red;
}

.img-fluid {
  padding: 6px;
}

body {
  /* background: #ffffff !important; */
  background-image: linear-gradient(135deg, #ffa365 0%,#ffffff 20%,#ffffff 80%,#80c06f 100%) !important;
  font-size: 0.85rem !important;
}

.login-box > .card {
  box-shadow: none !important;
}

.profile-pic {
  border-radius: 50%;
}

.card-primary.card-outline {
  border-top: 3px solid #ffa365;
}

.rating {
  float:right;
  width: 100%;
}

.rating > legend {
  display: contents;
  font-size: 18px;
}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 follow these rules. Every browser that supports :checked also supports :not(), so
 it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1.25em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:130%;
  line-height:1.2;
  color:#ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: gold;
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.alert-warning-light {
  border-radius: 10px;
  color: #7d6608;
  background-color: #fcf3cf;
  font-size: 0.90rem;
  padding: 10px;
  text-align: justify;
}

.copylink, .copylink:hover {
  color: #80C06F;
  font-size: 1rem;
}

.card-primary.card-outline-tabs>.card-header a.active { 
  border-top: 3px solid #ffa365;
}